<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>圓夢加-2017愛無界限 揪有愛心</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:900px;">
			<tr>
				<td colspan="5">
					<a href="https://api.pbplus.me/track/redirect?url=http://dream.pbplus.me&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/008/images/img_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="5">
					<a href="https://api.pbplus.me/track/redirect?url=http://dream.pbplus.me&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_02.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="5">
					<a href="https://api.pbplus.me/track/redirect?url=http://dream.pbplus.me&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_03.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/30&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_04.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/31&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_05.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/32&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_06.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/33&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_07.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/34&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_08.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/35&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_09.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/36&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_10.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/37&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_11.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/38&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_12.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/39&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_13.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/40&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_14.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="http://campaign.pbplus.me/bid/item/41" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_15.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="http://campaign.pbplus.me/bid/item/42" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_16.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="http://campaign.pbplus.me/bid/item/43" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_17.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="http://campaign.pbplus.me/bid/item/44" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_18.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/45&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_19.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/46&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_20.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/47&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_21.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/48&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_22.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/49&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_23.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/50&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_24.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/51&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_25.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/52&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_26.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/53&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_27.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/54&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_28.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/55&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_29.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/56&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_30.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/57&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_31.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/58&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_32.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/59&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_33.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/60&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_34.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/61&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_35.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/62&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_36.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/64&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_37.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/65&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_38.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/66&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_39.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/68&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_40.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/69&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_41.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/72&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_42.jpg" alt="球具公益競標">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://campaign.pbplus.me/bid/item/73&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm"" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_43.jpg" alt="球具公益競標">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="5">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/008/images/img_44.jpg" alt="球具公益競標">
				</td>
			</tr>
		</table>
	</body>
</html>