<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>好物加 | 每日主打星</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:800px;">
			<tr>
				<td colspan="2">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/013/images/img_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="球具公益競標" alt="最低６８折起～～每日主打星天天一優惠！">
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/ice-power_1&hash={{ hash }}&type=click_photo01&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_02.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/24k_wb_6&hash={{ hash }}&type=click_photo02&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_03.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/hoodiepillow_2&hash={{ hash }}&type=click_photo03&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_04.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/bmx-dk-nano-balance-bike-y&hash={{ hash }}&type=click_photo04&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_05.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/comefree_6&hash={{ hash }}&type=click_photo05&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_06.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/sale-golife-gowatch-820i-gps&hash={{ hash }}&type=click_photo06&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_07.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/stepwing_g1-b&hash={{ hash }}&type=click_photo07&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_08.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/2017luckybag&hash={{ hash }}&type=click_photo08&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/013/images/img_09.jpg" alt="最低６８折起～～每日主打星天天一優惠！">
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>