<html>
	<body>
			<br>
			<br>親愛的新竹馬跑友您好,<br>
			<br>新竹市城市馬拉松官方文創紀念商品開賣囉！！！<br>
			<br>由BSM 團隊親自操刀感受城市風光路跑逐夢👟<br>
			<br>周邊搶GO傳送門 ➡ <a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2eMC1Vo&hash={{ hash }}&type=click_link_up&program={{ program }}&batch={{ batch }}&source=edm">立即搶購</a><br><br>

			<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2eMC1Vo&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm">
			<img src="https://api.pbplus.me/track/redirect?url=https://s3-ap-northeast-1.amazonaws.com/bi-edm/HsinchuMarathon.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm
			" alt="HsinchuMarathon" width = '360px'>
			</a>			
			<br>
	</body>
</html>