<html>
	<body>
			<br>

			感謝您一直以來對於pb+各服務的愛用與支持，報給您一個好消息～收到此訊息的您，可獲得2人1組$1,680元（原價$2,002）的優惠價報名參加"惠蓀林場一百周年體驗賽"活動喔！
			<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/70/info&hash={{ hash }}&type=click_link_up&program={{ program }}&batch={{ batch }}&source=edm">點選連結報名去！</a>
			<br>
			<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/70/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm">
			<img src="https://api.pbplus.me/track/redirect?url=https://s3-ap-northeast-1.amazonaws.com/pbplus-event/event/70/banner.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm
			" alt="HuiSun" width="500">
			</a>
			<br>
			<br>
			<p>時光如旅，總有起點才能迎向那未知的每一步。</p>
			<p>而叢林間的小樹，隨著小溪的呼吸聲而逐漸壯大。</p>
			<p>每一步的印記，都是璀璨、繽紛的回憶與標記。</p>
			<p>然而，一生只有一次，那就該，什麼都試一試。 </p>
			<br>
			惠蓀林場一百歲了！我們規劃了精采的活動、舒適的住處、美味的食物，這一切都為了與您在這美麗的山林相遇。<br>
			屆時將有101隊的好朋友們於惠蓀林場奔跑跳躍、盡情歡呼，我們誠摯地邀請您與我們用心靈與五感，一同感受“新森活”。<br>
			※本活動包含 定向越野積分賽 與 一騎跑計時賽 (每隊兩人)※<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/70/info&hash={{ hash }}&type=click_link_up&program={{ program }}&batch={{ batch }}&source=edm">立即報名</a>
			<br>
			定向越野積分賽<br>
			● 大會將依報名組別 (休閒組 / 挑戰組) 提供專屬地圖<br>
			● 限制時間內，依各隊打卡點分數做為成績依據<br>
			● 各隊於限制時間內回到主會場進行一騎跑轉換<br>
			<br>
			一騎跑計時賽<br>
			● 一人跑步 + 一人騎單車方式完成比賽，兩人可交替運動方式<br>
			● 上坡段：一人騎 + 一人跑 ─ 折返點：放車 ─ 下坡段：兩人跑<br>
			● 大會將訂定完賽時間轉換級距，依照級距進行時間與分數轉換<br>
			<br>
			大會服務內容<br>
			● 會場住宿 (大會統一安排住宿)<br>
			● 賽事餐飲、補給<br>
			● 賽事物資 (地圖、紀念衣、號碼布) 以報名加實際公告為主<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/70/info&hash={{ hash }}&type=click_link_down&program={{ program }}&batch={{ batch }}&source=edm">立即報名</a>
			<br>
			<br>
	</body>
</html>