<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>活動加 | 筋肉媽媽講座</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:850px;">
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/97/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/006/images/pic_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="筋肉媽媽講座">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/97/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/006/images/pic_02.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="筋肉媽媽講座">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/97/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/006/images/pic_03.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="筋肉媽媽講座">
					</a>
				</td>
			</tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/97/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/006/images/pic_04.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="筋肉媽媽講座">
					</a>
				</td>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/97/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/006/images/pic_05.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="筋肉媽媽講座">
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>