<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>林智勝球迷音樂會限定優惠</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:850px;">
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2fGpLX0&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="大師兄喇叭">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2gI1QG9&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_02.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="兄弟戰隊">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2g90cK2&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_03.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="大師兄護腕">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2gmVrQ8&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_04.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="大師兄專區">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2fNlwnv&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_05.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="刺青衣長袖-灰">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2gMTcmg&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_06.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="刺青衣七分袖-紅">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2gX7dSu&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/003/images/img_07.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="大師兄帽子">
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>