<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>pb+ 月刊</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:930px;">
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://tw.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/012/images/img_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="pb+官網">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/012/edm.html&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_02.jpg" alt="若您無法正常閱讀此封電子報，請點此處">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://www.facebook.com/pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_03.jpg" alt="facebook">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://line.me/ti/p/%40ihs2885m&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_04.jpg" alt="line">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_05.jpg" alt="pb+ 月刊">
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://media.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_06.jpg" alt="運動+">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_07.jpg" alt="報名+">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_08.jpg" alt="好物+">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://pbplus.tixcraft.com/activity&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_09.jpg" alt="售票+">
								</a>
							</td>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://dream.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_10.jpg" alt="圓夢+">
								</a>
							</td>
							<td>
								<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_11.jpg" alt="pb+ 月刊">
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_12.jpg" alt="pb+ 月刊">
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://media.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_13.jpg" alt="Tommy Chen 陳彥博">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://wbc2017.pbplus.me/#aaa&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_14.jpg" alt="2017 世界棒球經典賽">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://pbplus.tixcraft.com/activity/detail/2017_WTA&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_15.jpg" alt="2017 台灣公開賽 TAIWAN OPEN">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://dream.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_16.jpg" alt="愛無界限 愛不罕見">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://event.pbplus.me/event/96/info&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_17.jpg" alt="新北市萬金路馬拉松">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://tw.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_18.jpg" alt="大雞大利 鶴立雞群">
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=https://tw.pbplus.me/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_19.jpg" alt="大雞大利 鶴立雞群">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellspacing="0" cellpadding="0" border="0" align="center">
						<tr>
							<td>
								<a href="https://api.pbplus.me/track/redirect?url=http://pcgbros.com/&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/012/images/img_20.jpg" alt="寶悍運動平台股份有限公司">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>