<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>好物加 獨家販售-原創商品下殺7.1折起</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:900px;">
			<tr>
				<td colspan="3">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_01.jpg">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_02.jpg">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_03.jpg">
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/titan-shuai-crewsocks&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/001/images/img_04.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/brother-team&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_05.jpg">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/hua-1000hit-t-bat&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_06.jpg">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/taisanbaseball&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_07.jpg">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product/chiang_h&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_08.jpg">
					</a>
				</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/phone-accessories&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_09.jpg">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/001/images/img_10.jpg">
				</td>
			</tr>
		</table>
	</body>
</html>