<html>
	<body>
			<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://goo.gl/UoTnLQ&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm">
			<img src="https://api.pbplus.me/track/redirect?url=https://s3-ap-northeast-1.amazonaws.com/bi-edm/TS.jpeg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm
			" alt="HuiSun" width="500">
			</a>
			<br>
			冠軍賽進入白熱化的尾聲 🏆 好物加優惠活動也邁入最後 2 天！！！<br>
			<br>
			✨球星識別商品✨下殺↘$399<br> 
			<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://goo.gl/UoTnLQ&hash={{ hash }}&type=click_link_up&program={{ program }}&batch={{ batch }}&source=edm">👉 立即搶購</a><br>
			買就送活動，泰山德島紀念品所剩不多要搶要快啊<br>
			<br>
			<a href="https://api.pbplus.me/track/redirect?url=https://goo.gl/9h7vrL&hash={{ hash }}&type=click_link_up&program={{ program }}&batch={{ batch }}&source=edm">👉 立即搶購</a><br>
			結帳輸入 「2016TS 」 再享免運 ❗<br>
			<br>
			全部優惠價只到10/30
			<br>
	</body>
</html>