<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>好物加-萬金石獨家8折優惠代碼</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:900px;">
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/wanjinshi-marathon&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_01.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/wanjinshi-marathon&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_02.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
				<td style="width: 224px; height: 35px; background: #fff; color: #333; font-size: 26px; margin: 0; padding: 0;">2017WJS</td>
				<td>
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/wanjinshi-marathon&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_04.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/wanjinshi-marathon&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_05.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://shop.pbplus.me/product-category/wanjinshi-marathon&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_06.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2017WJS&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_07.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a href="https://api.pbplus.me/track/redirect?url=http://bit.ly/2017WJS&hash={{ hash }}&type=click_photo&program={{ program }}&batch={{ batch }}&source=edm" target="_blank">
						<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="https://api.pbplus.me/track/redirect?url=http://52.192.199.179:8088/edm/005/images/img_08.jpg&hash={{ hash }}&type=load_img&program={{ program }}&batch={{ batch }}&source=edm" alt="好物加獨家8折優惠代碼">
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>