<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>新北市萬金路馬拉松繪圖競賽</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	</head>
	<body style="margin:0; padding: 0;">
		<table cellspacing="0" cellpadding="0" border="0" align="center" style="background:#fff; width:600px;">
			<tr>
				<td colspan="2">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_01.jpg" alt="萬金路馬拉松繪圖競賽">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_02.jpg" alt="萬金路馬拉松繪圖競賽">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_03.jpg" alt="萬金路馬拉松繪圖競賽">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_04.jpg" alt="萬金路馬拉松繪圖競賽">
				</td>
			</tr>
			<tr>
				<td>
					<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_05.jpg" alt="萬金路馬拉松繪圖競賽">
				</td>
				<td>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td>
								<a href="https://event.pbplus.me/event/96/info" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_06.jpg" alt="萬金路馬拉松繪圖競賽">
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="https://drive.google.com/file/d/0B-Mr1oAZcRQRSGZIZl96UFZWYlE/view" target="_blank">
									<img style="display: block; margin: 0; padding: 0; vertical-align: center; border:none;" src="http://52.192.199.179:8088/edm/007/images/img_07.jpg" alt="萬金路馬拉松繪圖競賽">
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>