<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTV Plot</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet">
    <script src="//d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/d3-extended.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/btv-plot.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
    <div class="wrapper">
        <div id="plot-container"></div>
    </div>
</body>
    <script>
        document.onreadystatechange = () => {
            if(document.readyState == 'complete') {
                var startTime = new Date('2016/04/21 18:00:00').getTime() / 1000;
                var endTime = new Date('2016/04/21 22:00:00').getTime() / 1000;

                var viewerData = '/btv/data/livestream/2016_04_21';
                var temperatureData = '/static/temperature.csv';
                var replyData = '/btv/api/game_replies.csv?start_time=' + startTime + '&end_time=' + endTime;

                var container = document.getElementById('plot-container');
                
                var plot = new BTVPlot(d3);
                plot.render(container, viewerData, temperatureData, replyData);
            }
        }
    </script>
</html>