<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style> /* set the CSS */

body { font: 12px Arial;}

/*path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
*/
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*.line {
    fill: url(#line-gradient);
    stroke: url(#line-gradient);
    stroke-width: 2px;
}*/

/*.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
*/
</style>
<body>

<!-- load the d3.js library -->    
<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<script src="d3.min.js"></script>

<script>

// Set the dimensions of the canvas / graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = 600 - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%d-%b-%y").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

var area = d3.svg.area()
    .x(function(d) { return x(d.date); })
    .y0(height)
    .y1(function(d) { return y(d.close); });

// Define the line
var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.close); });
    
// Adds the svg canvas
var svg = d3.select("body")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

// Get the data
var data = [
    {date: "1-May-12", close: "58.13"},
    {date: "30-Apr-12", close: "53.98"},
    {date: "27-Apr-12", close: "67.00"},
    {date: "26-Apr-12", close: "89.70"},
    {date: "25-Apr-12", close: "99.00"},
    {date: "24-Apr-12", close: "130.28"},
    {date: "23-Apr-12", close: "166.70"},
    {date: "20-Apr-12", close: "234.98"},
    {date: "19-Apr-12", close: "345.44"},
    {date: "18-Apr-12", close: "443.34"},
    {date: "17-Apr-12", close: "543.70"},
    {date: "16-Apr-12", close: "580.13"},
    {date: "13-Apr-12", close: "605.23"},
    {date: "12-Apr-12", close: "622.77"},
    {date: "11-Apr-12", close: "626.20"},
    {date: "10-Apr-12", close: "628.44"},
    {date: "9-Apr-12", close: "636.23"},
    {date: "5-Apr-12", close: "633.68"},
    {date: "4-Apr-12", close: "624.31"},
    {date: "3-Apr-12", close: "629.32"},
    {date: "2-Apr-12", close: "618.63"},
    {date: "30-Mar-12", close: "599.55"},
    {date: "29-Mar-12", close: "609.86"},
    {date: "28-Mar-12", close: "617.62"},
    {date: "27-Mar-12", close: "614.48"},
    {date: "26-Mar-12", close: "606.98"}
]
console.log(data);
// d3.csv("data.csv", function(error, data) {
    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.close = +d.close;
    });
    
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.close; })]);
    
    // svg.append("path")      
    //     .attr("class", "line")
    //     .attr("d", valueline(data));

    // svg.selectAll("path").data(data).enter().append("path")
    //     .attr("class", "area")
    //     .attr("d", area)
    //     .style("fill",function(d) { return d.close > 15 ? "orange" : "yellow"; });
    data.forEach(function(d) {
        // console.log(d);
        if (d.close > 605)
            c = "red";
        else
            c = "green";
        // d.date = parseDate(d.date);
        // d.close = +d.close;
        // c = "red";
        svg.append("path")
          .datum([d])
          .attr("class", "area")
          .attr("d", area)
          .attr("stroke", c)
          .style("fill", c);
        console.log(d.close);
    });
    // svg.append("path")
    //     .datum(data)
    //     .attr("class", "area")
    //     .attr("d", area)
    //     // .style("fill", function(d) { 
    //         // console.log(d.close);
    // //         console.log(d.close > 605);
    // //         return (d.close > 605 ? "orange" : "yellow"); 
    // //     });
    //     .style("fill", "pink");
    // var gradientData = [
    //     {offset: "0%", color: "yellow"},
    //     {offset: "10%", color: "yellow"},
    //     {offset: "10%", color: "red"},
    //     {offset: "62%", color: "red"}
    // ]
    // svg.append("linearGradient")                
    //     .attr("id", "line-gradient")            
    //     .attr("gradientUnits", "userSpaceOnUse")    
    //     .selectAll("stop")
    //     .data(gradientData)
    //     // .data([                             
    //     //     {offset: "0%", color: "red"},       
    //     //     {offset: "40%", color: "red"},  
    //     //     {offset: "40%", color: "black"},        
    //     //     {offset: "62%", color: "black"},        
    //     //     {offset: "62%", color: "lawngreen"},    
    //     //     {offset: "90%", color: "lawngreen"} 
    //     // ])                  
    // .enter().append("stop")         
    //     .attr("offset", function(d) {
    //         console.log(d.offset);
    //         return d.offset;
    //     })
    //     .attr("stop-color", function(d) { return d.color; });

    // Add the valueline path.
    var maxX = x(d3.extent(data, function(d) { return d.date; })[1]);
    svg.append("path")
        .attr("class", "line").attr("fill","url(#")
        .attr("d", ''+valueline(data)+"L0,"+y(0)+'L'+maxX+","+y(0));

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

// })
;
</script>
</body>
</html>